<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="MistakesDictionaryPath" value="./"/>
    <add key="NounsImagesPath" value="./pictures/"/>
    
    <add key="Question1Day" value="20"/>
    <add key="Question1Month" value="2"/>
    <add key="Question1Year" value="2015"/>
    <add key="Question1Season" value="1"/>

    <add key="Question2Country" value="12"/>
    <add key="Question2City" value="17"/>
    <add key="Question2Floor" value="1"/>

    <add key="Question7Sentence" value="אתמול בחמש וחצי אחרי הצהריים הלכתי עם אמא"/>
    <add key="Question7Minutes" value="30"/>
    <add key="Question7Hours" value="17"/>
  </appSettings>
</configuration>